form.form-inline(
  action='/projects/' + project.id + '/addAccount',
  method='post',
  name='account_detail')
  div.form-group
    label.control-label(for='Account_name') Account Name
    input.form-control(type='text',
      name='account_name',
      id='Account_name',
      placeholder='Account Name')
    input.btn.btn-default(type='submit' value='Add')
