- var project = member.project;
if project  && account
  form.form-horizontal(action='/projects/update_member', method='post', name='member_update')
    input.form-control(type='hidden',
      name='project_id',
      id='Member_project_id',
      value=project.id)
    input.form-control(type='hidden',
      name='member_id',
      id='Member_account_id',
      value=account.id)
    include ./_member_view_security_select.jade
    include ./_member_view_role_select.jade
    div.form-group
      div.col-sm-offset-2.col-sm-10
        input.btn.btn-default(type='submit' value='Submit')
