form.form-inline(action='/projects/remove_member_role', method='post', name='member_update')
  input.form-control(type='hidden',
    name='project_id',
    id='Member_project_id',
    value=project.id)
  input.form-control(type='hidden',
    name='account_id',
    id='Member_account_id',
    value=account.id)
  input.form-control(type='hidden',
    name='role',
    id='Member_account_id',
    value=role.id)
  a(href='/roles/' + role.id)=role.name
  div.form-group
    div.col-sm-10
      input.btn.btn-link(type='submit' value='Remove')
