form.form-horizontal(action='/roles/create', method='post')
  div.form-group
    label.col-sm-2.control-label(for='Role_name') Name
    div.col-sm-10
      input.form-control(type='text',
        name='name',
        id='Role_name',
        placeholder='Role name',
        value=role ? role.name : '') 
  div.form-group
    label.col-sm-2.control-label(for='Role_description') Description
    div.col-sm-10
      textarea.form-control(name='description',
        id='Role_description',
        placeholder='Description')
        =role ? role.name : ''
  div.form-group
    div.col-sm-offset-2.col-sm-10
      input.btn.btn-default(type='submit' value='Submit')
