form.form-inline(
  action='/tickets/' + ticket.id + '/assign',
  method='post',
  name='assignee_detail')
  div.form-group
    label.control-label(for='Assignee_name') Assignee Name
    input.form-control(type='text',
      name='assignee_name',
      id='Assignee_name',
      placeholder='Assignee Name')
    input.btn.btn-default(type='submit' value='Set')
