form.form-horizontal(action='/articles/directory/'+directory.id+'/create', method='post')
  if (directory)
    input.form-control(type='hidden',
      name='directory_id',
      value=directory.id) 
  div.form-group
    label.col-sm-2.control-label(for='Article_name') Name
    div.col-sm-10
      input.form-control(type='text',
        name='name',
        id='Article_name',
        placeholder='Article name',
        value=article ? article.name : '') 
  div.form-group
    label.col-sm-2.control-label(for='Article_description') Description
    div.col-sm-10
      textarea.form-control(name='description',
        id='Article_description',
        placeholder='Description')
        =article ? article.description : ''
  div.form-group
    label.col-sm-2.control-label(for='Article_content') Content
    div.col-sm-10
      textarea.form-control(name='content',
        id='Article_content',
        placeholder='Content')
        =article ? article.content : ''
  //NOTE: not support nested directory
  //div.form-group
  //  div.col-sm-offset-2.col-sm-10
  //    div.checkbox
  //      label 
  //        input(type='checkbox',
  //          name='is_directory',
  //          id='Article_is_directory',
  //          checked=(!article || !article.is_directory ? 
  //          undefined : 'checked')) 
  //        |Is Directory
  div.form-group
    div.col-sm-offset-2.col-sm-10
      div.checkbox
        label 
          input(type='checkbox',
            name='readable',
            id='Article_readable',
            checked=(!article || !article.readable ? 
            undefined : 'checked')) 
          |Readable
  div.form-group
    div.col-sm-offset-2.col-sm-10
      div.checkbox
        label
          input(type='checkbox',
            name='writable',
            id='Article_readable',
            checked=(!article || !article.writable ?
            undefined : 'checked')) 
          |Writable
  div.form-group
    label.col-sm-2.control-label(for='Article_security_level') Security Level
    div.col-sm-10
      select.form-control(
        name='security_level_id',
        id='Article_security_level')
        each level in security_levels
          option(
            value=level.id,
            selected=(article && article.security_level.id == level.id ?
            'selected' : undefined)
          ) 
            =level.name
  div.form-group
    label.col-sm-2.control-label(for='Article_role') Roles
    div.col-sm-10
      each role in roles
        - var checked_status = undefined
        if (article && article.roles)
          each article_role in article.roles
            if (article_role.id == role.id) 
              - checked_status = 'checked'
        div.checkbox
          label 
            input(type='checkbox',
              name='roles[]',
              value=role.id,
              id='Article_role',
              checked=checked_status
            ) 
            =role.name
  div.form-group
    div.col-sm-offset-2.col-sm-10
      input.btn.btn-default(type='submit' value='Submit')
