extends ../../../views/layout

block content
  div.panel.panel-default
    div.panel-heading
      if article.is_directory
        h3.panel-title Directory Info
      else
        h3.panel-title Article Info
    div.panel-body
      if article.is_directory
        div.row
          div.collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
              li
                a(href="/articles/directory/" + article.id + "/create/")| Create article
      div.row
        label.col-md-2 Article name:
        div.col-md-4
          = article.name
      div.row
        label.col-md-2 Description:
        div.col-md-4
          = article.description
      if !article.is_directory
        div.row
          label.col-md-2 Content:
          div.col-md-4
            = article.content
      div.row
        label.col-md-2 Permission:
        div.col-md-4
          = article.readable ? 'readable ' : ''
          = article.writable ? 'writable ' : ''
      div.row
        label.col-md-2 Creator:
        div.col-md-4
          a(href='/accounts/' + article.account.id)=article.account.name
      if article.directory
        div.row
          label.col-md-2 Directory:
          div.col-md-4
            a(href='/articles/' + article.directory.id)=article.directory.name
          // Add article to directory
          //if !article.is_directory
          //  form.form-inline(
          //    action='/articles/setDirectory',
          //    method='post')
          //    div.form-group
          //      label.control-label(for='Directory_id') Directory ID
          //      input.form-control(type='text',
          //        name='directory_id',
          //        id='Directory_id',
          //        placeholder='Directory ID')
          //      input.form-control(type='hidden',
          //        name='article_id',
          //        value=article.id)
          //      input.btn.btn-default(type='submit' value='Add')
      div.row
        div.col-sm-offset-2.col-sm-1
          a.btn.btn-primary(href="/articles/edit/" + article.id,
            role="button")
            | Edit
        div.col-sm-1
          a.btn.btn-danger(href="/articles/delete/" + article.id,
            role="button")
            | Delete
  if article.is_directory
    div.panel.panel-default
      div.panel-heading
        h3.panel-title Directory's articles
      div.panel-body
        include ./_articles_list.jade
